<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<style>
    .img-container {
        width: auto;
        height: 350px;
        border: 1px;
        display: inline-block;
        position: relative;
    }

    #leftDiv {
        width: 60%;
        height: 400px;
        border: 1px solid;
        float: left;
    }

    #rightDiv {
        width: 20%;
        border: 1px solid;
        float: left;
        margin-left: 2%;
    }

    #resultDiv {
        width: 14%;
        border: 1px solid;
        float: left;
        margin-left: 2%;
    }
</style>
<body>
<h1 th:inlines="text">文件上传</h1>
<div id="leftDiv">
    <form action="fileUpload" method="post" enctype="multipart/form-data">
        <p>选择文件: <input type="file" class="img-btn" name="fileName"/> <input type="submit" value="提交"/></p>
    </form>
    <div class="img-container" id="img-container">
    </div>


</div>
<div id="rightDiv">
    <form>
        <input class="param" type="text" value="2" id="strokeWidth" hidden>
        <input class="param" type="text" value="#F00" id="strokeColor" hidden>
        起始点坐标：X: <input class="param" type="text" value="0" id="left"> / Y:<input class="param" type="text" value="0"
                                                                                  id="top"><br/>
        分栏间隔：<input class="param" type="text" value="45" id="offset"><br/>
        是否筒子页：<input type="checkbox" value="0"/>
    </form>
</div>

<div id="resultDiv">
    <textarea id="result"></textarea>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/raphael.min.js"></script>

<script>
    var fileInputs = document.getElementsByClassName("img-btn");
    var imgDivs = document.getElementsByClassName("img-container");
    selectImg(fileInputs, imgDivs);


    function selectImg(fileInputs, imgDivs) {
        var checkImg = new RegExp("(.jpg$)|(.png$)|(.bmp$)|(.jpeg$)", "i");
        var i = 0;
        for (i; i < fileInputs.length && i < imgDivs.length; i++) {
            (function (i) {
                fileInputs[i].onchange = function () {
                    if (checkImg.test(fileInputs[i].value)) {
                        previewImg(this, imgDivs[i]);
                    } else {
                        alert("Only support upload .jpg .png .bmp .jpeg format file");
                    }
                };
            })(i);
        }
    }

    function previewImg(fileInput, imgDiv) {
        if (window.FileReader) {
            var reader = new FileReader();
            reader.readAsDataURL(fileInput.files[0]);
            reader.onload = function (evt) {
                imgDiv.innerHTML = "\<img style='max-height: 350px' id=\"previmg\" src=" + evt.target.result + "\><div id=\"canvas\" style=\"position: absolute; top: 0; left: 0;\"></div>\n" +
                    "        <div style=\"clear: both;\" id=\"clear\"></div>";
            }
        } else {
            imgDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + fileInput.value + '\)\';"></div>';
        }
    }

    /MSIE\s*(\d+)/i.test(navigator.userAgent);
    var isIE = parseInt(RegExp.$1 ? RegExp.$1 : 0);
    if (isIE > 0 && isIE < 9) {
        document.getElementsByClassName = function (cls) {
            var els = this.getElementsByTagName('*');
            var ell = els.length;
            var elements = [];
            for (var n = 0; n < ell; n++) {
                var oCls = els[n].className || '';
                if (oCls.indexOf(cls) < 0) continue;
                oCls = oCls.split(/\s+/);
                var oCll = oCls.length;
                for (var j = 0; j < oCll; j++) {
                    if (cls == oCls[j]) {
                        elements.push(els[n]);
                        break;
                    }
                }
            }
            return elements;
        }
    }


    var paper = null;

    function drawLine() {
        // 创建画布
//        var imgvar = document.getElementById('previmg');
        // 画布大小
        var width = $("#previmg").width(), height = $("#previmg").height();
        // 起始点坐标、间距、栏数
        var left = parseInt(document.getElementById('left').value),
            top = parseInt(document.getElementById('top').value),
            offset = parseInt(document.getElementById('offset').value);
        // 线条样式
        var strokeColor = document.getElementById('strokeColor').value,
            strokeWidth = parseInt(document.getElementById('strokeWidth').value);

        if (paper) {
            paper.clear();
            paper = Raphael('canvas', width, height);
        } else {
            paper = Raphael('canvas', width, height);
        }

        // 画坚线
        var path = "";
        for (var i = 0, len = (width - left) / offset; i < len; i++) {
            path += 'M' + (i * offset + left) + ',' + top + 'V' + height;
        }
        paper.path(path).attr({
            'stroke': strokeColor,
            'stroke-width': strokeWidth
        });
    }

    window.onload = function () {
        var inputs = document.getElementsByClassName('param');
        for (var i = 0, len = inputs.length; i < len; i++) {
            inputs[i].onchange = function () {
                drawLine();
            }
        }
    }

</script>
</body>
</html>