<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>

<form action="mutilTessFile" method="post" enctype="multipart/form-data">
    训练语言<input name="lang" placeholder="lang" value="chiTra">
    训练字体<input name="fontFamily" placeholder="fontFamily" value="SimSun">
    <input type="submit" value="提交">
    <h1>Upload Png Picture</h1>
    <input id="pngFile" type="file" name="fileName">
    <h1>Upload Tif Picture</h1>
    <input id="tifFile" type="file" name="fileName">
</form>
</body>
</html>