<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Tess Box Editor
    </title>
</head>
<style>
    #canvas1 {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    #canvas2 {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    #canvas {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    #canvasImg {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    #imgShow {
        float: left;
        width: 1000px;
    }

    #boxInfo {
        margin-right: 3%;
        float: right;
        width: 350px;
        height: 600px;
        border: 1px solid;
        overflow: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 330px;
        margin-left: 10px;
    }

    table, td, th {
        border: 1px solid black;
    }

    th {
        height: 30px;
    }

    input {
        width: 100%;
        overflow: hidden;
        display: flex;
        border: 0px;
        outline: none;
        cursor: pointer;
    }

    #textInput {
        width: 500px;
        height: 100px;
        border: 1px solid;
        position: absolute;
        float: right;
        bottom: 0px;
    }
</style>
<body onload="pageLoad()" style="margin:0px;">
<div>
    <div id="imgShow">
        <img id="canvasImg">
        <canvas id="canvas1" width="1020" height="610"></canvas>
        <canvas id="canvas2" width="1000" height="600"></canvas>
        <canvas id="canvas" width="1000" height="600"></canvas>
    </div>
    <div id="boxInfo">
        <button type="button" name="button" style="margin:20px 0 20px 0;position: relative;left: 20%;"
                onclick="addRow()">
            AddRow
        </button>
        <button type="button" name="button" style="margin:20px 0 20px 0;position: relative;left: 20%;"
                onclick="delRow()">
            DelLastRow
        </button>
        <button id="submit" type="submit" style="position: relative;left:20%;">gen box</button>
        <button id="train" type="submit" style="position: relative;left:20%;">train</button>


        <div style="display: inline-block;width: 300px;padding-left: 30%;padding-bottom: 10px;">
            <label>x:</label><input type="text" id="xAxis" style="width: 100px;display: inline;">
            <label>y:</label><input type="text" id="yAxis" style="width: 100px;display: inline;">
        </div>

        <form class="" method="post">
            <table id="boxTable">
                <tr>
                    <td>value</td>
                    <td>x[左上]</td>
                    <td>y[左上]</td>
                    <td>x[右下]</td>
                    <td>y[右下]</td>
                    <td>operate</td>
                </tr>
            </table>

        </form>
    </div>
    <div id="textInput">
        <span>Please input image text。</span>
        <textarea id="boxText" onblur="refreshBox()" style="height: 80px;width: 498px;"></textarea>
    </div>
    <span id="timeStamp" th:text="${info.timeStamp}" hidden></span>
    <span id="picText" th:text="${info.picText}" hidden></span>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    var canvas1 = document.getElementById("canvas1");
    var context1 = canvas1.getContext("2d");
    var canvas2 = document.getElementById("canvas2");
    var context2 = canvas2.getContext("2d");
    var trCnt = 0;
    var boxData = [];

    $(document).ready(function () {
        //load picture in canvas
        if ($("#timeStamp").text()) {
            var timeStamp = $("#timeStamp").text();
            var url = "/image/get/" + timeStamp;
            $.ajax({
                url: url,
                xhrFields: {
                    withCredentials: true
                },
                type: "POST",
                cache: false,
                processData: false,
                contentType: false,
                async: true,
                success: function (result) {
                    $("#canvasImg").attr("src", 'data:image/png;base64,' + result);
                }
            })
        }

        loadText();
    });


    function refreshBox() {
        delAllRow();
        var text = $("#boxText").val().trim();
        if (text) {
            for (var i = 1; i <= text.length; i++) {
                addRow();
                $(".char" + i).val(text[i - 1]);
            }
        }
    }

    function loadText() {
        var text = $("#picText").text().trim();
        if (text) {
            for (var i = 1; i <= text.length; i++) {
                addRow();
                $(".char" + i).val(text[i - 1]);
            }
        }
    }

    //load page
    function pageLoad() {
        var tickSize = 20;

        var tickCntW = Math.ceil((canvas1.width - 20) / tickSize);
        var tickCntH = Math.ceil((canvas1.height - 10) / tickSize);

        var canvas = document.getElementById("canvas");
        canvas.onmousemove = function (e) {
            var bbox = canvas.getBoundingClientRect();

            var xx = e.clientX - bbox.left;
            var yy = e.clientY - bbox.top;

            $("#xAxis").val(xx);
            $("#yAxis").val(yy);
        };

        drawXAxis(tickCntW, tickSize);

        drawYAxis(tickCntH, tickSize);

    }

    function drawXAxis(tickCntW, tickSize) {
        context1.moveTo(canvas1.width - 20, canvas1.height - 10);
        context1.lineTo(0, canvas1.height - 10);
        context1.lineWidth = 2;
        context1.strokeStyle = "#000";
        context1.stroke();
        for (var i = 0; i <= tickCntW; i++) {
            context1.moveTo(tickSize * i, canvas1.height - 10);
            context1.lineTo(tickSize * i, canvas1.height - 15);
            context1.textAlign = 'center';
            context1.fillText(tickSize * i, tickSize * i, canvas1.height)
        }
        context1.strokeStyle = "#f00";
        context1.stroke();
    }

    function drawYAxis(tickCntH, tickSize) {
        context1.moveTo(canvas1.width - 20, canvas1.height - 10);
        context1.lineTo(canvas1.width - 20, 0);
        context1.lineWidth = 2;
        context1.strokeStyle = "#000";
        context1.stroke();
        for (var i = 0; i <= tickCntH; i++) {
            context1.moveTo(canvas1.width - 20, tickSize * i);
            context1.lineTo(canvas1.width - 25, tickSize * i);
            context1.textAlign = 'center';
            context1.fillText(tickSize * i, canvas1.width - 10, tickSize * i)
        }
        context1.strokeStyle = "#f00";
        context1.stroke();
    }


    function addRow() {
        trCnt++;
        $('#boxTable > tbody').append('<tr class="addTr tr' + trCnt + '"><td><input class="char' + trCnt +
            '" type="text" onchange="drawRect()"></td>' +
            '<td><input class="x-left-top' + trCnt + '" type="text" onchange="drawRect()"></td>' +
            '<td><input class="y-left-top' + trCnt + '" type="text" onchange="drawRect()"></td>' +
            '<td><input class="x-right-bottom' + trCnt + '" type="text" onchange="drawRect()"></td>' +
            '<td><input class="y-right-bottom' + trCnt + '" type="text" onchange="drawRect()"></td>' +
            '<td>' + trCnt + '</td></tr>');
    }

    function delRow() {
        if ($("#boxTable tr").length > 1) {
            trCnt--;
            $("#boxTable tr:last").remove();
        }
        drawRect();
    }

    function delAllRow() {
        if ($("#boxTable tr").length > 1) {
            trCnt = 0;
            $("#boxTable .addTr").remove();
        }
        drawRect();
    }


    function drawRect() {
        getDataInfo();
        var size = boxData.length;
        context2.clearRect(0, 0, 1000, 600);
        var height = $("#canvasImg").height();
        for (var i = 0; i < size; i++) {
            var data = boxData[i];
            if (data.x > 0 && data.y > 0 && data.w > 0 && data.h > 0) {
                context2.strokeRect(data.x, height - data.h, data.w - data.x, data.h - data.y);
            }
        }
    }

    function getDataInfo() {
        boxData = [];
        for (var i = 1; i <= trCnt; i++) {
            var data = {};
            data.char = $(".char" + i).val();
            data.x = $(".x-left-top" + i).val();
            data.y = ($("#canvasImg").height() - $(".y-right-bottom" + i).val()) + "";
            data.w = $(".x-right-bottom" + i).val();
            data.h = ($("#canvasImg").height() - $(".y-left-top" + i).val()) + "";
            boxData.push(data);
        }

    }

    $("#submit").click(function () {
        var json = {
            't': $("#timeStamp").text(),
            'data': boxData
        };
        $.ajax({
            url: "/ocr/getBoxData",
            contentType: 'application/json',
            type: "POST",
            cache: false,
            data: JSON.stringify(json),
            processData: false,
            async: false,
            success: function (result) {
                if (result.msg == 'ok') {
                    alert("gen box success!");
                } else {
                    alert("gen box fail, try again!");
                }
                console.log(result);
            }
        })
    });

    $("#train").click(function () {
        var url = "/ocr/trainBox/" + $("#timeStamp").text();
        $.ajax({
            url: url,
            contentType: 'application/json',
            type: "POST",
            cache: false,
            processData: false,
            async: false,
            success: function (result) {
                console.log(result);
                if (result.msg = "success") {
                    alert("train success!");
                    window.location.href = "toTessFilePage";
                } else {
                    alert("train fail, try again!");
                }
            }
        })
    });

</script>

</body>
</html>
