<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chineseall.dao.FileUploadServiceDao">
    <insert id="insert" parameterType="com.chineseall.entity.UploadFileInfo">
        INSERT INTO ocr_upload_file_info (fileName,fileUploadPath,fileSize,fileSaveName) VALUES
        (#{fileName,jdbcType=VARCHAR},#{fileUploadPath,jdbcType=VARCHAR},#{fileSize,jdbcType=INTEGER},#{fileSaveName,jdbcType=VARCHAR})
    </insert>
    <insert id="add" parameterType="com.chineseall.entity.UploadPngTifInfo">
        INSERT INTO  ocr_upload_png_tiff_info(uploadDirectory, pngFileName, tifFileName, fontFamily, lang, timeStamp)
        VALUES(#{uploadDirectory,jdbcType=VARCHAR},#{pngFileName,jdbcType=VARCHAR},#{tifFileName,jdbcType=VARCHAR},#{fontFamily,jdbcType=VARCHAR},#{lang,jdbcType=VARCHAR},#{timeStamp,jdbcType=INTEGER})
    </insert>
    <select id="queryById" parameterType="java.lang.Integer" resultType="com.chineseall.entity.UploadFileInfo">
        SELECT * FROM ocr_upload_file_info WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryByFileSaveName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT fileUploadPath FROM ocr_upload_file_info WHERE fileSaveName = #{fileName,jdbcType=VARCHAR}
    </select>
    <select id="getTifFilePathByTimeStamp" parameterType="java.lang.String"
            resultType="com.chineseall.entity.UploadPngTifInfo">
        SELECT * FROM ocr_upload_png_tiff_info WHERE timeStamp = #{timeStamp,jdbcType=VARCHAR}
    </select>
    <update id="updateBoxInfo" parameterType="java.util.HashMap">
        UPDATE ocr_upload_png_tiff_info set boxName = #{boxName,jdbcType=VARCHAR},updateTime = now() WHERE timeStamp =
        #{timeStamp,jdbcType=VARCHAR}
    </update>
    <insert id="updateImageInfo" parameterType="com.chineseall.entity.UploadFileContext">
        INSERT INTO ocr_upload_file_context (fileId,context,coordinate) VALUES
        (#{fileId,jdbcType=VARCHAR},#{context,jdbcType=VARCHAR},#{coordinate,jdbcType=VARCHAR})
    </insert>
</mapper>